.done-true {
	text-decoration: line-through;
}

body {
  padding-top: 50px;
}

.mainbody {
  padding: 40px 15px;
}

.checklist-card {
	padding: 4px;
	color: rgb(30, 30, 30);
	background-color: rgb(240, 240, 240);
}

.panel {
}