.done-true {
	text-decoration: line-through;
}

body {
  padding-top: 50px;
}

.mainbody {
  padding: 40px 15px;
}

.checklist-card {
	padding: 4px;
	color: rgb(30, 30, 30);
	background-color: #F0F0F0;
}

.secton-items {
	padding: 0;
}

.row-inner {
	padding: 2px;
}

.checklistitem {
	color:#555;
	padding: 5px 5px;
}

.checklistitem a {
	color:#555;
}

.checklistitem-even {
    background-color:#F1F1F1;
    margin: 0px;
}

.checklistitem-odd {
    margin: 0px;
}

.checklistitem:hover {
    background-color:#E1E1E1;
}

.checklistitem-checked {
    background-color:#E1E1E1;
}

.checklist-item-text {
	
}

.checked-item-text {
	text-decoration: line-through;
	color: #999;	
}

.itemcheck-true {
	visibility: visible;
	margin-right: 5px;
}

.itemcheck-false {
	visibility: hidden;
	margin-right: 5px;
}

.item-text {
}