<div id='testid'>
	<h1>{{checklist.getName()}}</h1>
	<div class="row">
		<div id="sections-group" class="col-md-4">
			<ul class="list-group">
				<a ng-repeat="section in checklist.getSections()"
					class="list-group-item {{section.getId() === activeSection.getId() ? 'active' : ''}}" 
					ng-href="#/checklist/{{checklist.getId()}}/{{section.getId()}}">
						<span class="badge">{{section.getItemCount()}}</span>
						{{section.getName()}}
				</a>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-body">
					<ul>
						<li ng-repeat="item in activeSection.getItems()">{{item.getName()}} - {{item.getValue()}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>