<div id='testid'>
	<h1>{{checklist.getName()}}</h1>
	<div class="row">
		<div class="col-md-4">
			<ul class="list-group">
				<a ng-repeat="section in checklist.getSections()" ng-href="#/checklist/{{checklist.getId()}}/{{section.getId()}}" 
				<li class="list-group-item">
					<span class="badge">{{section.getItemCount()}}</span>
					{{section.getName()}}
				</li>
				</a>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-body">
					<ul>
						<li ng-repeat="item in activeSection.getItems()">{{item.getName()}} - {{item.getValue()}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>