<div id='testid'>
	<h1>{{checklist.getName()}}</h1>
	<div class="row">
		<div id="sections-group" class="col-md-4">
			<ul class="list-group">
				<a ng-repeat="section in checklist.getSections()"
					class="list-group-item {{section.getId() === activeSection.getId() ? 'active' : ''}}" 
					ng-href="#/checklist/{{checklist.getId()}}/{{section.getId()}}">
						<span class="badge">{{section.getUncheckedItemCount()}}</span>
						{{section.getName()}}
				</a>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-body secton-items">
					<div class="row checklistitem" ng-class-odd="'checklistitem-odd'" ng-class-even="'checklistitem-even'" ng-repeat="item in activeSection.getItems()">
						<a ng-click="item.switchChecked()">
							<div class="row-inner ">
								<div class="col-md-6">
									<span class="glyphicon glyphicon-ok" ng-class="item.isChecked() ? 'itemcheck-true' : 'itemcheck-false'"></span>
									<span class="{{item.isChecked() ? 'checked-item-text' : 'item-text'}}">{{item.getName()}}</span>
								</div>
								<div class="col-md-6">
									<em class="{{item.isChecked() ? 'checked-item-text' : 'item-text'}}">{{item.getValue()}}</em>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>